body {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: red;
}
button {
    height: 50px;
    width: 50px;
    background: rgb(175, 173, 173);
    font-size: 25px;
}
button:hover {
    background: rgb(119, 119, 226);
}
button:focus {
    background: rgb(63, 63, 240);
}
input {
    height: 50px;
    width: 350px;
    font-size: 30px;
}